/* deve contenere una regola che imposta 
bordo nero, sfondo blu, primo piano bianco
per gli elementi con classe evidente */
.evidente{
    border-style: solid;
    border-color: #000;
    color: #FFF;
    background-color: #00F;
}